@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-normal: 'Rubik', system-ui, sans-serif;
  --font-code: 'JetBrains Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:var(--font-normal);

  font-size: 16px !important;
}

.container {
  max-width: 100rem;
  padding: 1rem;
  margin: 0 auto;
}

@media (min-width: 50rem) {
  .container {
    width: 35rem; 
    margin: 0 auto; 
    padding: 0;
  }
}